body{
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.head{
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#head-text{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    color: white;
}

.head a{
    text-decoration: none;
}

.slider{
    width: 100vw;
    display: flex;
    
    
}

.banner{
    width: 100vw;
}

/* Layering images */
.image-container {
    position: relative;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.text-box{
    width: 600px;
    height: 600px;
    top: 200px;
    left: 100px;
    padding: 30px;
    font-size: larger;
    line-height: 2.3em;  
    position: absolute;
    color: white;
    border-radius: 50px;
    background: linear-gradient(145deg, #d40d0d, #b20b0b);
    box-shadow:  16px 16px 0px #a80a0a,
                -16px -16px 0px #e40e0e;
}

.min-image{
    width: 300px;
    height: 600px;
    top: 300px;
    right: 50px;
    padding: 30px;
    font-size: larger;
    line-height: 2.3em;  
    position: absolute;
}

#banner-1{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}